# Ignore TIFF files
*.tiff

# Ignore DICOM files
*.dcm

# Ignore MATLAB files
*.mat

# Ignore folders starting with 'data'
data*/

# Ignore folder starting with .neptune
.neptune*/

# Ignore pycache
*.pyc

# Ignore folders named models_local
models_local/

# Ignore folders named output_images
output_images/

# Ignore medsam_vit_b.pth file
medsam_vit_b.pth
