# Ignore TIFF files
*.tiff

# Ignore DICOM files
*.dcm

# Ignore MATLAB files
*.mat

# Ignore folders starting with 'data'
data*/

# Ignore folder starting with .neptune
.neptune*/

# Ignore pycache
*.pyc

# Ignore .sif
*.sif

# Ignore .out
.out

# Ignore .out
.out